@charset "utf-8";

.flex {
  display: flex;
}
.grid {
  display: grid;
}
.video {
  width: 100%;
}
/***** header *****/
header {
  position: relative;
}
.header-video {
  overflow: hidden;
  width: 100%;
  height: 680px;
  justify-content: center;
}
header div img {
  position: absolute;
  top: 15px;
}
header div .header-img1 img {
  width: 80px;
  vertical-align: middle;
  z-index: 1000;
  left: 15px;
}
header div .header-img2 img {
  width: 14px;
  right: 15px;
}

/***** vision *****/
.vision {
  text-align: center;
}
.vision p {
  margin: 40px 0;
  font-size: var(--font-size-12);
  font-weight: 400;
}
.vision h1 {
  font-size: var(--font-size-20);
  font-weight: 500;
  margin-bottom: 40px;
}
.vision h1 span {
  display: block;
}
.vision img {
  width: 100%;
}

/***** kolon way ******/

.way {
  background-color: #000;
  color: #fff;
  padding: 40px;
  height: 460px;
}
.way div h1 {
  font-size: var(--font-size-26);
  font-weight: 700;
  margin-bottom: 20px;
}
.way img {
  width: 20px;
  margin: 5px 10px 0 0;
}
.way div h2 {
  font-size: var(--font-size-14);
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.5;
}
.way div h2 span {
  display: block;
}
.way div p {
  width: 250px;
  font-size: var(--font-size-14);
  font-weight: 400;
  color: #ddd;
  line-height: 1.5;
}
.way ul {
  margin-top: 130px;
  text-align: left;
}
.way ul li {
  font-size: var(--font-size-16);
  margin-top: 10px;
}
.way ul li:nth-child(2) {
  grid-column: 2 / 3;
}

/***** value *****/

.value div {
  padding: 40px;
  height: 360px;
}
.value div h1 {
  font-size: var(--font-size-24);
  font-weight: 700;
  margin-bottom: 20px;
}
.value div p {
  font-size: var(--font-size-14);
  font-weight: 400;
  width: 350px;
  line-height: 1.5;
}
.value ul {
  padding: 40px;
  font-size: var(--font-size-14);
  font-weight: 400;
  grid-template: repeat(4, 1fr), repeat(2, 1fr);
}
.value ul li {
  margin-bottom: 20px;
}
.value ul li:nth-child(3) {
  grid-row: 1 / 2;
  grid-column: 3 / 5;
}
.value ul li:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.value img {
  width: 100%;
}

/****** business ******/

.business div {
  padding: 40px;
  height: 360px;
}
.business div h1 {
  font-size: var(--font-size-24);
  font-weight: 700;
  margin-bottom: 20px;
}
.business div h2 {
  font-size: var(--font-size-14);
  font-weight: 700;
  margin-bottom: 20px;
}
.business div p {
  font-size: var(--font-size-14);
  font-weight: 500;
  line-height: 1.5;
  padding-right: 40px;
}
.business ul {
  padding: 40px;
}
.business ul li {
  font-size: var(--font-size-14);
  font-weight: 400;
  margin-bottom: 20px;
}
.business ul li:nth-child(3) {
  grid-row: 1 / 2;
  grid-column: 3 / 5;
}
.business img {
  width: 100%;
}

/***** story *****/

.story {
  background-color: #000;
  color: #fff;
}
.story div {
  padding: 40px;
}
.story div h1 {
  font-size: var(--font-size-26);
  font-weight: 700;
  margin-bottom: 20px;
}
.story .story-header {
  width: 20px;
  margin: 5px 10px 0 0;
}
.story div h2 {
  font-size: var(--font-size-14);
  font-weight: 500;
  margin-bottom: 20px;
}
.story div p {
  width: 250px;
  font-size: var(--font-size-14);
  font-weight: 400;
  color: #ddd;
  line-height: 1.5;
}
.story ul {
  margin-top: 150px;
  text-align: left;
}
.story ul li {
  font-size: var(--font-size-16);
  margin-top: 10px;
}
.story ul li:nth-child(2) {
  grid-column: 2 / 3;
}
.story .story-bottom img {
  width: 100%;
}

/****** news ******/

.news {
  padding: 60px;
  height: 850px;
}
.news h1 {
  font-size: var(--font-size-30);
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.news .box h3 {
  font-size: var(--font-size-16);
  margin: 50px 0 10px;
  font-weight: 500;
  color: #4a6dd8;
}
.news .box h2 {
  font-size: var(--font-size-24);
  font-weight: 700;
  margin-bottom: 20px;
}
.news .box p {
  font-size: var(--font-size-12);
  font-weight: 400;
  line-height: 1.5;
}
.news .button p {
  margin-top: 50px;
  text-align: center;
}
.news .button p span {
  font-size: var(--font-size-14);
  border-bottom: 2px solid #000;
}

/***** contact ******/

.contact {
  background: url(./images/mobil.png) fixed 30% / cover;
  color: #fff;
  height: 350px;
  text-align: center;
}
.contact h1 {
  font-size: var(--font-size-24);
  font-weight: 700;
  padding: 40px 0;
}
.contact .contact-text {
  font-size: var(--font-size-14);
  margin: 0 50px;
  line-height: 1.7;
}
.contact a p {
  font-size: var(--font-size-14);
  margin-top: 50px;
}
.contact a p span {
  border: 2px solid #fff;
  padding: 10px 60px;
}

/***** media ******/
.media {
  text-align: center;
  height: 650px;
}
.media h1 {
  font-size: var(--font-size-24);
  font-weight: 700;
}
.media h2 {
  font-size: var(--font-size-16);
  font-weight: 700;
  margin-bottom: 20px;
}
.media p {
  padding: 0 40px;
  line-height: 1.7;
  font-size: var(--font-size-14);
}
.media a p {
  margin-top: 50px;
}
.media p span {
  font-size: var(--font-size-16);
  background-color: #000;
  color: #fff;
  padding: 10px 60px;
  margin-top: 150px;
}
.media .media-box1 h1 {
  margin: 60px 0 10px 0;
}
.media .media-box2 h1 {
  padding-top: 50px;
  margin-bottom: 10px;
}
.media .media-box1 {
  height: 300px;
}
.media .media-box2 {
  height: 350px;
  background-color: #f2f2f2;
}

/***** footer ******/

footer {
  background-color: #000;
  color: #fff;
  height: 680px;
  padding: 40px;
}
footer h1 {
  font-size: var(--font-size-16);
  font-weight: 700;
  margin-bottom: 20px;
}
footer ul li {
  font-size: var(--font-size-14);
  font-weight: 300;
  margin-top: 10px;
}

footer ul li span {
  border-bottom: 1px solid #fff;
}
footer .footer-box1 h1 {
  margin-top: 30px;
}
footer .footer-box2 h1 {
  margin-top: 70px;
}
footer .footer-box2 ul li:last-child {
  margin-top: 20px;
}
footer a p {
  font-size: var(--font-size-18);
  font-weight: 500;
  margin: 80px 0;
}
footer a p span {
  border: 1px solid #fff;
  padding: 8px 15px;
}
