@import "utf-8";

.flex {
  display: flex;
}
.grid {
  display: grid;
}
body {
  font-family: var(--kor-font);
  background-color: #000;
  color: #fff;
}

.ani-top {
  background-color: #29f2ff;
  height: 40px;
  overflow: hidden;
  font-size: var(--font-size-18);
  font-family: var(--eng-font);
  color: #000;
}
.ani-top img {
  width: 10%;
  margin: 9px 10px 0;
}
.ani-top h1 {
  line-height: 42px;
}
.ani-middle {
  width: 200%;
  display: flex;
  animation: ani_1 infinite linear 30s;
}
.top-left,
.top-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
@keyframes ani_1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
header .header-menu {
  justify-content: space-between;
  position: fixed;
  top: -30px;
  width: 100%;
  z-index: 1;
}
header .header-menu.active {
  display: none;
}
header .header-menu h1 {
  margin: 80px 150px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px 40px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.5s;
  font-weight: 700;
}
header .header-menu h1:hover {
  background-color: #fff;
  color: #000;
  font-weight: 700;
}
header .header-menu ul {
  margin: 80px 150px;
  gap: 20px;
  z-index: 100;
}
header .header-menu ul li {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  padding: 16px 40px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.5s;
  font-weight: 700;
}
header .header-menu ul li:hover {
  background-color: #fff;
  color: #000;
}
header .header-txt {
  font-family: var(--kor-font);
  font-size: var(--font-size-30);
  margin: 150px 0 0 150px;
  height: 80vh;
  position: relative;
  min-width: 1600px;
  overflow: hidden;
}
header .header-txt span {
  font-weight: 700;
  font-size: var(--font-size-40);
}
header .header-txt .header-img {
  position: absolute;
  top: 0;
  left: 40%;
}
header .header-txt .header-img img:nth-child(3) {
  position: absolute;
  top: -10px;
}

/**** project *****/
.project-container .box1 {
  width: 30%;
  margin: 0 auto;
  text-align: right;
}
.project-container .box1 li{
  font-size: var(--font-size-34);
  color: #29f2ff;
  font-weight: 700;
}
/* .project-container .box1 li:nth-child(2){
  height: 43vh;
}
.project-container .box1 li:nth-child(3){
  height: 25vh;
} */
.project-container .box2{
  width: 35%;
  margin: 0 auto;
}
.project-container .box2 .project-inner{
  height: 45vh;
  width: 85%;
  font-weight: 400;
}
/* .project-container .box2 .item2{
  height: 43vh;
}
.project-container .box2 .item3{
  height: 25vh;
} */
.project-container .box2 .item4{
  width: 95%;
}
.project-container .box2 .project-inner h2{
  font-size: var(--font-size-22);
  font-weight: 700;
  margin-bottom: 10px;
}
.project-container .box2 .project-inner p{
  font-size: var(--font-size-22);
  font-weight: 400;
  margin-bottom: 30px;
}
.project-container .box2 ul li {
  font-size: var(--font-size-22);
  font-weight: 400;
  margin-left: 20px;
  list-style:disc;
  line-height: 180%;
}

/***** swot *****/

.swot-container{
  width: 80%;
  margin: 0 auto;
}
.swot-container h1{
  font-size: var(--font-size-40);
  font-weight: 700;
  color: #29f2ff;
  margin-bottom: 85px;
}
.swot-container .swot-wrapper{
  justify-content: space-around;
}
.swot-container .swot-wrapper .swot-inner{
  width: 700px;
  height: 300px;
  background-color: #fff;
  margin-bottom: 85px;
  border-radius: 80px;
  text-align: center;
  box-shadow:
  0.8px 0.8px 43.9px rgba(148,142,227, 0.3),
  -1.3px -1.3px 84.6px rgba(77,109,255, 0.5);
}
.swot-container .swot-wrapper .swot-inner h2{
  font-size: var(--font-size-60);
  color: #4E6DFE;
  margin-top: 40px;
}
.swot-container .swot-wrapper .swot-inner ul{
  color: #000;
  margin-top: 40px;
}
.swot-container .swot-wrapper .swot-inner ul li{
  width: 70%;
  margin: 0 auto;
  font-size: var(--font-size-20);
  text-align: left;
  line-height: 150%;
  list-style: disc;
}