@charset "utf-8";

/***** header ******/
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.header-video {
  width: 100%;
  height: 100%;
}
header {
  position: relative;
}
header div img {
  position: absolute;
  top: 15px;
}
header div .header-img1 img {
  width: 150px;
  vertical-align: middle;
  z-index: 1000;
  left: 35px;
}
header div .header-img2 img {
  bottom: 15px;
  width: 28px;
  right: 35px;
}

/***** vision *****/

.vision p {
  margin: 40px 0;
  font-size: var(--font-size-20);
  font-weight: 400;
}
.vision h1 {
  font-size: var(--font-size-30);
  font-weight: 700;
  margin-bottom: 40px;
}
.vision h1 span {
  display: inline-block;
}
.vision img {
  width: 100%;
}

/***** kolon way ******/
.kolon-way {
  position: relative;
}

.way {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.way div h1 {
  font-size: var(--font-size-38);
  font-weight: 700;
  margin-bottom: 20px;
}
.way div h2 {
  font-size: var(--font-size-22);
}
.way div h2 span {
  display: inline-block;
}
.way div p {
  font-size: var(--font-size-16);
}
.way ul {
  position: absolute;
  bottom: 50px;
}
.way ul li {
  font-size: var(--font-size-16);
  border-bottom: none;
  height: 20px;
}
.way ul li:hover {
  transition: 0.5s;
  color: #0140d3;
}

/**** way event ****/
.way-top img {
  width: 50%;
  transition: 1s;
}
.way-top .way-img1 {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.way-top .way-img1 h1 {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: var(--font-size-18);
}
.way-top .way-img1 p {
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: var(--font-size-30);
  width: 40%;
}
.way-top .way-img1 span {
  position: absolute;
  left: 50px;
  bottom: 50px;
  border-bottom: 1px solid #fff;
  font-size: var(--font-size-18);
  display: block;
}
.way-top .way-img1 span:hover {
  transition: 0.5s;
  color: #0140d3;
  border-bottom: 1px solid #0140d3;
}
.way-top .way-img1 .way-text1 {
  display: block;
  opacity: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.way-top .way-img1:hover img {
  object-fit: contain;
  transform: scale(1.2);
}
.way-top .way-img1:hover .way-text1 {
  opacity: 1;
  transition: 0.3s;
  width: 100%;
  height: 100%;
}
.way-top .way-img2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.way-top .way-img2 h1 {
  position: absolute;
  left: 50px;
  top: 50px;
}
.way-top .way-img2 p {
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: var(--font-size-30);
  width: 40%;
}
.way-top .way-img2 span {
  position: absolute;
  left: 50px;
  bottom: 50px;
  border-bottom: 1px solid #fff;
  display: block;
}
.way-top .way-img2 span:hover {
  transition: 0.5s;
  color: #0140d3;
  border-bottom: 1px solid #0140d3;
}
.way-top .way-img2 .way-text2 {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.way-top .way-img2:hover img {
  transform: scale(1.2);
}
.way-top .way-img2:hover .way-text2 {
  opacity: 1;
  transition: 0.3s;
}
.way-top h1,
.way-top p {
  display: block;
}

/***** value *****/

.value .value-top {
  margin-left: 60px;
}
.value .value-top h1 {
  font-size: var(--font-size-38);
  font-weight: 700;
}
.value .value-top p {
  font-size: var(--font-size-18);
  font-weight: 400;
}
.value .value-top p span {
  display: block;
}
.value ul {
  padding: 60px;
  font-size: var(--font-size-18);
  font-weight: 700;
  margin-left: 60px;
  margin-bottom: 0;
}
.value ul li {
  text-align: left;
  margin-right: 20px;
  border-bottom: none;
}
.value ul li:hover {
  transition: 0.5s;
  color: #0140d3;
}
.value .buliding1 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 1s;
}
.value .buliding1 .buliding1-txt {
  display: block;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.value .buliding1:hover img {
  transition: 1s;
  transform: scale(1.2);
}
.value .buliding1:hover .buliding1-txt {
  opacity: 1;
  transition: 0.3s;
}
.value .buliding1 .buliding1-txt h1 {
  position: absolute;
  top: 80px;
  left: 50px;
  font-size: var(--font-size-20);
}
.value .buliding1 .buliding1-txt p {
  font-size: var(--font-size-48);
  position: absolute;
  left: 50px;
  top: 160px;
}
.value .buliding1 .buliding1-txt span {
  position: absolute;
  left: 50px;
  bottom: 80px;
  font-size: var(--font-size-20);
  border-bottom: 1px solid #fff;
}
.value .buliding1 .buliding1-txt span:hover {
  color: #0140d3;
  border-bottom: 1px solid #0140d3;
  transition: 0.5s;
}
/****** business ******/
.business {
  display: flex;
  position: relative;
  margin-left: 30px;
}
.business .business-top {
  width: 50%;
}
.business .business-top ul {
  width: 45%;
  position: absolute;
  bottom: 60px;
}
.business .business-bottom {
  width: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.business .business-top ul li {
  border-bottom: none;
}
.business .business-top ul li:hover {
  color: #0140d3;
  transition: 0.5s;
}
.business .business-bottom:hover img {
  transition: 1s;
  transform: scale(1.2);
}
.business .business-bottom:hover .business-txt {
  opacity: 1;
  transition: 0.3s;
}
.business .business-bottom .business-txt {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: block;
}
.business .business-bottom .business-txt h1 {
  position: absolute;
  top: 80px;
  left: 50px;
  font-size: var(--font-size-20);
}
.business .business-bottom .business-txt p {
  position: absolute;
  top: 160px;
  left: 50px;
  font-size: var(--font-size-48);
}
.business .business-bottom .business-txt span {
  position: absolute;
  bottom: 80px;
  left: 50px;
  border-bottom: 1px solid #fff;
  font-size: var(--font-size-20);
}
.business .business-bottom .business-txt span:hover {
  color: #0140d3;
  border-bottom: 1px solid #0140d3;
  transition: 0.5s;
}
/***** story *****/
.story-bottom {
  display: flex;
}
.story .story-top ul li {
  border-bottom: none;
}
.story .story-top ul li:hover {
  color: #0140d3;
  transition: 0.5s;
}
.story .story-bottom .story-box1 {
  position: relative;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
}
.story .story-bottom img {
  transition: 1s;
}
.story .story-bottom .story-box1:hover img {
  transition: 1s;
  transform: scale(1.2);
}
.story .story-bottom .story-box1:hover .story-txt1 {
  opacity: 1;
  transition: 0.3s;
}
.story .story-bottom .story-box1 .story-txt1 {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: block;
}
.story .story-bottom .story-box1 .story-txt1 h1 {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: var(--font-size-18);
}
.story .story-bottom .story-box1 .story-txt1 p {
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: var(--font-size-30);
}
.story .story-bottom .story-box1 .story-txt1 span {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: var(--font-size-18);
  border-bottom: 1px solid #fff;
}
.story .story-bottom .story-box1 .story-txt1 span:hover {
  color: #0140d3;
  border-bottom: 1px solid #0140d3;
  transition: 0.5s;
}
.story .story-bottom .story-box2 {
  position: relative;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
}
.story .story-bottom .story-box2:hover img {
  transition: 1s;
  transform: scale(1.2);
}
.story .story-bottom .story-box2:hover .story-txt2 {
  opacity: 1;
  transition: 0.3s;
}
.story .story-bottom .story-box2 .story-txt2 {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: block;
}
.story .story-bottom .story-box2 .story-txt2 h1 {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: var(--font-size-18);
}
.story .story-bottom .story-box2 .story-txt2 p {
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: var(--font-size-30);
}
.story .story-bottom .story-box2 .story-txt2 span {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: var(--font-size-18);
  border-bottom: 1px solid #fff;
}
.story .story-bottom .story-box2 .story-txt2 span:hover {
  color: #0140d3;
  border-bottom: 1px solid #0140d3;
  transition: 0.5s;
}
/****** news ******/
.news-main {
  display: flex;
  align-items: center;
}
.news .news-main .box {
  width: 100%;
  margin: 100px 80px 0;
  height: 500px;
}
.news .box {
  padding-bottom: 300px;
}
.news .button a:hover span {
  color: #0140d3;
  border-bottom: 2px solid #0140d3;
  transition: 0.5s;
}
/***** contact ******/
.contact {
  height: 500px;
}
.contact h1 {
  padding-top: 70px;
}
.contact .contact-text {
  margin-top: 40px;
}
.contact .contact-text span {
  display: block;
}
.contact-btn {
  margin-top: 80px;
}
.contact-btn:hover a:hover {
  background: #0140d3 url(./images/btn_hover.png) no-repeat center center / auto
    100%;
  padding: 12px 0;
}
.contact-btn:hover a:hover span {
  opacity: 0;
}
/***** media ******/
.media {
  display: flex;
}
.media p {
  padding: 0 40px;
  line-height: 1.7;
  font-size: var(--font-size-16);
}
.media p a {
  margin-top: 50px;
}
.media p span {
  font-size: var(--font-size-18);
  background-color: #000;
  color: #fff;
  padding: 10px 60px;
}
.media-box1,
.media-box2 {
  width: 50%;
}
.media p a:hover {
  background: #0140d3 url(./images/btn_hover.png) no-repeat center center / auto
    100%;
  padding: 12px 0;
}

.media p a:hover span {
  opacity: 0;
}
/***** footer ******/
.footer-main {
  display: block;
  height: 200px;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 480px;
}
.footer-main p {
  margin-top: 30px;
  width: 300px;
}
footer .footer-box2 {
  margin: 0 0 0 100px;
}
footer .footer-box1 h1 {
  margin: 0;
}
footer .footer-box2 h1 {
  margin: 0;
}
footer p a {
  margin: 0;
}
.footer-main,
.footer-box1,
.footer-box2 {
  height: 200px;
}
footer p:hover a {
  transition: 0.5s;
  background-color: #fff;
  color: #000;
}
