@charset "utf-8";

.basic {
  background-color: var(--light-bg-color);
}
.white {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  z-index: 99;
}
/***** first-page *****/
main .first-page-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 92vh;
  overflow: hidden;
  border-radius: 0 0 80px 80px;
  transition: 2s;
  z-index: 999;
}
/* img */
main .first-page-container .img-wrapper{
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #fff;
}

main .first-page-container .txt-wrapper{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0%);
  font-family: var(--kor-font);
  transition: 2s;
}

main .first-page-container .txt-wrapper h2{
  font-weight: 900;
  color: #fff;
  font-size: var(--h1-font-size);
}

main .first-page-container .img-wrapper img{
  transform: translateY(-59%);
  object-fit: cover;
  background-color: #fff;
}

/***** second-page *****/

main .second-page-container {
  position: relative;
  background-color: #fff;
  padding: var(--page-padding);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 80px 80px;
  z-index: 999;
}
main .second-page-container .txt-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
}
main .second-page-container .txt-wrapper p {
  font-weight: 400;
  display: block;
  height: 10%;
  line-height: 130%;
}
main .second-page-container .txt-wrapper .block {
  height: 30px;
}
main .second-page-container .txt-wrapper h3 {
  font-family: var(--eng-font);
  height: 160px;
  font-weight: 900;
}

main .second-page-container .second-img-wrapper {
  overflow: hidden;
  width: 580px;
  height: 580px;
  border-radius: 400px 0 40px 0;
  background-color: #ddd;
  position: relative;
}
main .second-page-container .second-img-wrapper img {
  position: absolute;
  bottom: 0;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%,-0%) scale(110%);
}

/***** third-page *****/
main .third-page-container {
  /* margin-top: 50px; */
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 180vh;
  background-color: var(--light-bg-color);
  z-index: 999;
}

.third-page-container .third-page-txt{
  padding: var(--page-padding);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.third-page-container .third-page-txt ul li{
  width: 500px;
  display: flex;
  border-bottom: 2px solid #000;
  padding: 10px 0;
  justify-content: space-between;
}

.third-page-container .third-page-txt ul li p{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.third-page-container .third-page-txt h2{
  font-family: 'DM Sans', sans-serif;
  font-size: var(--h2-font-size);
  font-weight: 700;
}

.third-page-container .third-page-wrapper{
  width: 1500px;
  height: 650px;
  background-color: #Fff;
  border-radius: 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.third-page-container .third-page-wrapper .wrapper-inner{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 4vw;
  top: 40%;
  transform: translateY(-50%);
  width: 600px;
  height: 520px;
  justify-content: center;
}

.third-page-container .third-page-wrapper img{
  object-fit: cover;
  width: 520px;
  height: 520px;
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
  -webkit-mask-image: url(./audition-imgaes/shape.svg);
  -webkit-mask-size: 500px;
  -webkit-mask-repeat: no-repeat;
}

.third-page-container .third-page-wrapper h4{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 900;
  font-size: var(--h4-font-size);
  margin-bottom: 40px;
}

.third-page-container .third-page-wrapper p{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  font-size: var(--p-font-size);
  margin-bottom: 50px;
  line-height: 130%;
}

.third-page-container .third-page-wrapper span{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 19px 0;
}

.third-page-container .third-page-wrapper span strong{
  font-weight: 900;
}

.third-page-container .third-page-wrapper .button{
  color: var(--white-color);
  background-color: var(--black-color);
  width: 170px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 24px;
  border-radius: 40px;

  position: absolute;
  left: 4vw;
  bottom: 10%;
}

/***** footer *****/
.footer-container {
  width: 100%;
  margin: 0 auto;
  height: 60vh;
  /* border-top: 1px solid #1D1D1B; */
  position: relative;
  background-color: var(--light-bg-color);
}
.footer-container img {
  width: 304px;
  height: 70px;
  margin-left: 150px;
}
.footer-container .footer-wrapper {
  display: flex;
  margin-top: 100px;
}
.footer-container .footer-wrapper h6 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 40px;
}
.footer-container .footer-wrapper p {
  margin: 20px 0;
}
.footer-container .footer-wrapper .box {
  margin-left: 100px;
}
.footer-container .footer-wrapper .footer-inner:nth-child(5) {
  position: absolute;
  right: 200px;
  text-align: center;
}
.footer-container .footer-wrapper .footer-inner:nth-child(5) p {
  background-color: #dddddd;
  padding: 5px 20px;
  border-radius: 40px;
  border: 1px solid #000;
}

/***** slide-txt *****/
.slide-text-wrapper {
  z-index: 9;
  width: 100%;
  height: 400px;
  background-color: #1D1D1B;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
}
.slide-text-wrapper h2 {
  color: var(--white-color);
  white-space: nowrap;
  font-weight: bold;
  position: absolute;
  bottom: 40%;
  animation: text-ani 40s linear infinite;
}


/* **** menu-page ****
.menu-container {
  position: fixed;
  z-index: 99;
 width: 100%;
 height: 100vh;
}
.menu-wrapper {
 overflow: hidden;
 z-index: 99999;
 width: 100%;
 height: 100%;
 background-color: var(--light-bg-color);
  position: fixed;
  visibility: hidden;
  top: 50%;
  transform: translate(0%, -50%);
  text-align: left;
 display: grid;
 grid-template-columns: 60% 40%;
}
.menu-inner-list {
  padding: 4.5vw;
  z-index: 2;
 font-size: var(--h3-font-size);
 border-right: 3px solid var(--black-color);
 border-bottom: 3px solid var(--black-color);
 height: 46.5vw;
}
.menu-inner-list2 {
  padding: 4.5vw 3vw;
  margin: 0;
  z-index: 2;
 font-size: var(--p-font-size);
 border-bottom: 3px solid var(--black-color);
 height: 46.5vw;
}
.menu-wrapper-link {
  padding: 4.5vw 3vw;
  margin: 0;
  z-index: 2;
 font-size: var(--p-font-size);
 border-bottom: 3px solid var(--black-color);
 height: 46.5vw;
}
.menu-inner-list2 dt{
 font-size: 17px;
 margin: 5px 0;
}
.menu-inner-list2 dd{
 font-weight: 500;
}
.menu-inner-list2 span{
 padding-top: 7px;
 display: block;
}
.menu-inner-item {
  position: relative;
  display: block;
  -webkit-transition-delay: 0.8s;
         transition-delay: 0.8s;
  opacity: 0;
  text-align: left;
  color: #000000;
  overflow: hidden; 
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 900;
  line-height: 1.15;
  letter-spacing: 3px;
  transform: translate(100px, 0%);
  -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, transform .3s ease;
  transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu-inner-item a,
.menu-inner-item dl{ 
  position: relative;
  text-decoration: none;
  color: rgb(0,0,0);
  overflow: hidden; 
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 900;
  z-index: 2;
  display: inline-block;
  text-transform: uppercase;
  transition: all 200ms linear; 
}
.menu-inner-item.active-menu a:after{ 
  height: 4px;
  opacity: 1;
  left: 0;
  width: 100%;
}
body.menu-active .menu-wrapper {
  visibility: visible;
}
body.menu-active .menu-container {
  visibility: visible;
}
body.menu-active .logo{
 opacity: 0;
}
body.menu-active::-webkit-scrollbar {
 display: none; 
}
body.menu-active .menu-container:before, body.menu-active .menu-container:after {
  -webkit-transform: translateX(0%) translateY(0%);
         transform: translateX(0%) translateY(0%);
  border-radius: 0;
}
body.menu-active .menu-container:after {
  -webkit-transition-delay: .1s;
         transition-delay: .1s;
}
body.menu-active .menu-container:before {
  -webkit-transition-delay: 0s;
         transition-delay: 0s;
}
body.menu-active .menu-inner-item {
 width: 100%;
  opacity: 1;
  -webkit-transform: translateX(0%);
         transform: translateX(0%);
  -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}
body.menu-active main{
 display: none;
}
body.menu-active .navigation-container{
 background-color: rgba(0, 0, 0, 0);
}
body.menu-active .menu-inner-item::before{
 content: "";
 display: block;
 width: 0px;
 height: 0px;
 border-radius: 50%;
}
body.menu-active .menu-inner-list .menu-inner-item:hover::before{
 content: "";
 border: 1px solid #000000;
 border-radius: 50%;
 padding: 5px;
 background-color: #000;
 display: inline-block;
 width: 25px;
 height: 25px;
 position: relative;
 bottom: 35px;
 margin-right: 15px;
 transition: .3s;
} */









footer {
  opacity: 0;
  position:sticky;
  bottom: 0;
  transition: 1s;
}

.footer-container {
  padding: var(--big-padding);
  width: 100%;
  height: 60vh;
  background-color: var(--light-bg-color);
  position: relative;

}
.footer-container img {
  width: 304px;
  height: 70px;
  margin-left: 150px;
}
.footer-container .footer-wrapper {
  display: flex;
  margin-top: 100px;
}
.footer-container .footer-wrapper h6 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 40px;
}
.footer-container .footer-wrapper p {
  margin: 20px 0;
}
.footer-container .footer-wrapper .box {
  margin-left: 100px;
}
.footer-container .footer-wrapper .footer-inner:nth-child(5) {
  position: absolute;
  right: 200px;
  text-align: center;
}
.footer-container .footer-wrapper .footer-inner:nth-child(5) p {
  background-color: #dddddd;
  padding: 5px 20px;
  border-radius: 40px;
  border: 1px solid #000;
}