@charset "utf-8";

:root {
  --kor-font: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --eng-font: "Josefin Sans", sans-serif;
  --font-size-12: 0.625vw;
  --font-size-14: 0.729vw;
  --font-size-16: 0.833vw;
  --font-size-18: 0.938vw;
  --font-size-20: 1.042vw;
  --font-size-22: 1.146vw;
  --font-size-24: 1.25vw;
  --font-size-25: 1.302vw;
  --font-size-26: 1.354vw;
  --font-size-28: 1.458vw;
  --font-size-30: 1.563vw;
  --font-size-34: 1.771vw;
  --font-size-38: 1.979vw;
  --font-size-40: 2.083vw;
  --font-size-48: 2.5vw;
  --font-size-60: 3.125vw;
  --font-size-78: 4.063vw;
  --font-size-90: 4.688vw;
}
