@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}
.flex {
  display: flex;
}
.block {
  display: inline-block;
}
svg {
  width: 32px;
  height: 32px;
}
:root {
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-26: 26px;
  --font-size-38: 38px;
  --font-size-44: 44px;
  --font-size-title: 30px;
}
body {
  max-width: 1920px;
  min-width: 1650px;
  font-family: "Noto Sans KR", 돋움, sans-serif;
}
.button[type="summit"] {
  border: none;
}
/**** header ****/
.header-top {
  justify-content: space-around;
  margin: 20px 0;
}
.header-top h1 {
  color: #ffb800;
  font-size: var(--font-size-title);
  font-weight: bold;
  margin-left: 50px;
}
.header-top .header-wrapper a {
  margin: 20px;
}
.header-top .header-wrapper li:hover a {
  transition: 0.3s;
  color: #ffb800;
}
.header-top .header-menu {
  align-items: center;
  margin-top: 10px;
}
.header-top .header-menu a {
  margin: 0 10px;
}

/* move */
.move {
  color: #fff;
  background: url(./images/Lubricating\ g.jpeg) no-repeat 100% 70% / cover;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.move div {
  background-color: #ffb800;
  width: 900px;
  height: 704px;
}
.move h1 {
  font-size: 80px;
  font-weight: bold;
  margin-left: 130px;
  padding-top: 180px;
  line-height: 1.2;
}
.move h3 {
  margin: 50px 0 0 135px;
  font-size: var(--font-size-14);
}

/* new */

.new-klueber {
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}
.new-klueber .new-line {
  margin-top: 90px;
  text-align: center;
}
.new-klueber .new-line h4 {
  color: #ffb800;
  margin-bottom: 40px;
  font-size: var(--font-size-18);
}
.new-klueber .new-line h2 {
  margin-bottom: 70px;
  font-size: var(--font-size-title);
}
.new-klueber .new-line .new-wrapper {
  text-align: left;
  margin-left: 150px;
}
.new-klueber .new-wrapper img {
  display: block;
}
.new-klueber .new-wrapper:nth-child(3) img {
  width: 30px;
  height: 30px;
}
.new-klueber .new-wrapper img:first-child {
  width: 20px;
  height: 25px;
}
.new-klueber .new-line .new-wrapper div {
  margin: 0 60px;
}
.new-klueber .new-line .new-wrapper h5 {
  position: relative;
}

.new-klueber .new-line .new-wrapper h5::before {
  content: "ㅣ";
  color: #ffb800;
  position: absolute;
  right: 110%;
}

/* oil */
.oil-wrapper {
  margin-top: 210px;
  position: relative;
}
.oil-wrapper .oil-sans {
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  width: 90%;
  max-width: 1920px;
  height: 620px;
}
.oil-wrapper .oil-sans .oil-txt {
  position: absolute;
  top: 130px;
  padding-left: 300px;
  line-height: 1.6;
}
.oil-wrapper .oil-sans h5 {
  font-size: var(--font-size-14);
  color: #ffb800;
  margin-bottom: 30px;
}
.oil-wrapper .oil-sans h2 {
  font-size: var(--font-size-title);
  margin-bottom: 30px;
}
.oil-wrapper .oil-sans p {
  font-size: var(--font-size-16);
  color: #7a7878;
}
.oil-wrapper .oil-sans button {
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: var(--font-size-14);
  transition: 0.4s;
  padding: 10px 24px;
  font-weight: 500;
  margin-top: 30px;
}
.oil-wrapper .oil-sans button:hover {
  border-radius: 30px;
}
.oil-wrapper .oil-sans .oil-img {
  margin: 120px 140px 0;
  float: right;
}
.oil-wrapper .oil-sans .oil-img img {
  width: 270px;
  height: 360px;
  margin-left: 20px;
}
.oil-wrapper .oil-com {
  margin: 0 auto;
  justify-content: center;
  margin-top: 150px;
}
.oil-wrapper .oil-com img {
  margin-bottom: 20px;
}
.oil-wrapper .oil-com div {
  margin: 0 36px;
  text-align: center;
  border: 3px solid #f5f5f5;
  width: 260px;
  height: 216px;
  padding-top: 50px;
}
.oil-wrapper .oil-com h4 {
  font-size: var(--font-size-26);
  font-weight: bold;
}
.oil-wrapper .oil-com p {
  font-size: var(--font-size-16);
}
/* video */
.video-main {
  margin: 0 auto;
  width: 90%;
  position: relative;
  max-width: 1920px;
  min-width: 1200px;
}
.video-main .video-img {
  width: 100%;
  height: 615px;
  margin-top: 140px;
}
.video-main .video-txt {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.video-main .video-txt div {
  margin: 20px;
  width: 262px;
  height: 340px;
  position: relative;
  bottom: 300px;
  z-index: 1000;
  background-color: #fff;
  font-size: var(--font-size-14);
}
.video-main .video-txt div h2 {
  margin-top: 60px;
  font-size: var(--font-size-38);
  font-weight: bold;
  color: #ffb800;
}
.video-main .video-txt div h3 {
  font-size: var(--font-size-12);
  font-weight: bold;
  line-height: 0.5;
  margin: 30px 0 10px 0;
}
.video-main .video-txt div p {
  font-size: var(--font-size-20);
  margin: 0 40px;
}
.video-main .video-bottom {
  background-color: #f5f5f5;
  width: 100%;
  max-width: 1920px;
  min-width: 1200px;
  height: 500px;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: flex-end;
}
.video-main .video-bottom img {
  margin-left: 60px;
  margin-bottom: 60px;
}
.video-main .video-bottom div {
  margin-right: 60px;
  margin-bottom: 60px;
}
.video-main .video-bottom .video-bottom-txt {
  position: absolute;
  bottom: 0;
}
.video-main .video-bottom .video-bottom-txt img {
  margin-right: 20px;
}

/* ul main */
.main-txt {
  justify-content: center;
  margin: 100px 0;
}
.main-txt li {
  margin: 60px 50px;
}
.main-txt li:first-child a {
  border-bottom: 2px solid #000;
}
.main-txt li a:hover {
  transition: 0.4s;
  color: #ffb800;
}
.main-txt li:first-child a:hover {
  border-bottom: 2px solid #ffb800;
}

/* main img */
.main-img {
  width: 90%;
  margin: 0 auto;
}
.main-img div {
  flex-flow: wrap;
  width: 100%;
  justify-content: space-between;
}
.main-img div p {
  width: 23.83333%;
  margin: 13px 0;
  height: 326px;
  text-indent: -9999px;
}
.main-img div p:nth-child(1) {
  margin-left: 0;
}
.main-img div p:nth-child(4) {
  margin-right: 0;
}
.main-img div p:nth-child(5) {
  margin-left: 0;
}
.main-img div p:nth-child(8) {
  margin-right: 0;
}
.main-img p:first-child {
  background: url(./images/main1.png) no-repeat 50% / cover;
}
.main-img p:nth-child(2) {
  background: url(./images/main2.png) no-repeat 50% / cover;
}
.main-img p:nth-child(3) {
  background: url(./images/main3.png) no-repeat 50% / cover;
}
.main-img p:nth-child(4) {
  background: url(./images/main4.png) no-repeat 50% / cover;
}
.main-img p:nth-child(5) {
  background: url(./images/main5.png) no-repeat 50% / cover;
}
.main-img p:nth-child(6) {
  background: url(./images/main6.png) no-repeat 50% / cover;
}
.main-img p:nth-child(7) {
  background: url(./images/main7.png) no-repeat 50% / cover;
}
.main-img p:last-child {
  background: url(./images/main8.png) no-repeat 50% / cover;
}

/* serve img */
.serve-img {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 150px;
}
.serve-img div {
  width: 100%;
  margin-top: 150px;
  justify-content: space-around;
}
.serve-img div p {
  width: 258px;
  height: 335px;
  text-indent: -9999px;
}
.serve-img ul li {
  width: 24.8%;
  text-align: center;
  margin-top: 20px;
  font-size: var(--font-size-20);
}
.serve-img div p:first-child {
  background: url(./images/serve1.png) no-repeat 50% / cover;
}
.serve-img div p:nth-child(2) {
  background: url(./images/serve2.png) no-repeat 50% / cover;
}
.serve-img div p:nth-child(3) {
  background: url(./images/serve3.png) no-repeat 50% / cover;
}
.serve-img div p:last-child {
  background: url(./images/serve4.png) no-repeat 50% / cover;
}
/* onefoot */
.onefoot-main {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.onefoot-img {
  background: url(./images/onefoot.png) no-repeat 50% / cover;
  width: 50%;
  height: 504px;
  text-indent: -9999px;
}
.onefoot-main .onefoot-center {
  color: #fff;
  background-color: #000;
  width: 50%;
  height: 504px;
  position: absolute;
  top: 0;
  right: 0;
}
.onefoot-main .onefoot-center h1 {
  font-size: var(--font-size-38);
  margin-bottom: 50px;
}
.onefoot-main .onefoot-center h2 {
  font-size: var(--font-size-14);
}
.onefoot-main .onefoot-center .onefoot-middle p {
  font-size: var(--font-size-16);
  color: #7a7878;
  margin-top: 10px;
}
.onefoot-main .onefoot-center .onefoot-middle .onefoot-box1 {
  margin: 50px 0 0 120px;
}

.onefoot-main .onefoot-center .onefoot-middle .onefoot-box1:nth-child(1) div {
  margin: 20px 0;
}
.onefoot-main .onefoot-center .onefoot-box2 {
  position: absolute;
  top: 190px;
  right: 60px;
}
.onefoot-main .onefoot-center .onefoot-middle .onefoot-box2:nth-child(2) div {
  margin: 20px 0;
}

/* inovation */
.inovation {
  background-color: #f5f5f5;
  max-width: 1920px;
  min-width: 1200px;
  height: 650px;
  align-items: center;
}
.inovation .inovation-wrapper {
  background: url(./images/inovation.png) no-repeat 50% / cover;
  justify-content: flex-end;
  margin-left: 230px;
  align-items: center;
  width: 700px;
  height: 500px;
}
.inovation .inovation-wrapper .inovation-survice {
  background-color: #000;
  width: 440px;
  height: 500px;
  color: #fff;
  margin-right: 80px;
}
.inovation .inovation-wrapper .inovation-survice .inovation-plan {
  margin: 40px;
}
.inovation .inovation-wrapper .inovation-survice h1 {
  font-size: var(--font-size-18);
  margin: 85px 0 50px;
}
.inovation .inovation-wrapper .inovation-survice p {
  font-size: var(--font-size-16);
}
.inovation .inovation-wrapper .inovation-survice:nth-child(1) p {
  margin-bottom: 50px;
}
.inovation .inovation-wrapper .inovation-survice:nth-child(2) p {
  margin-bottom: 50px;
}
.inovation .inovation-wrapper .inovation-survice a {
  background-color: inherit;
  border: none;
  color: #fff;
}
.inovation .inovation-wrapper .inovation-survice span {
  transition: 0.4s;
  color: #ffb800;
  display: inline-block;
}
.inovation .inovation-wrapper .inovation-survice a:hover span {
  color: #fff;
  transform: translateX(5px);
}
.inovation .inovation-txt {
  width: 450px;
  height: 500px;
  margin-left: 90px;
}
.inovation .inovation-txt h2 {
  font-size: var(--font-size-title);
  font-weight: bold;
  margin: 20px 0 40px;
}
.inovation .inovation-txt p {
  font-size: var(--font-size-20);
}
.inovation .inovation-txt h3 {
  margin-top: 65px;
  font-size: var(--font-size-14);
  font-weight: 500;
}
.inovation .inovation-txt h3 span {
  color: #ffb800;
  font-weight: 700;
}
/* product img */
.product-img {
  justify-content: space-evenly;
  margin: 150px;
  max-width: 1920px;
  min-width: 1200px;
}
/* pixel */
.pixel {
  background-color: #000;
  color: #fff;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1200px;
}
.pixel .pixel-txt {
  width: 350px;
  height: 220px;
  margin: 150px 65px 100px 300px;
}
.pixel .pixel-txt h1 {
  font-size: var(--font-size-22);
}
.pixel .pixel-txt p {
  font-size: var(--font-size-16);
  color: #f5f5f5;
  margin-top: 40px;
}
.pixel .pixel-img {
  width: 800px;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 130px;
}
.pixel .pixel-img .pixel-img-txt div {
  margin: 20px;
  text-align: center;
}
.pixel .pixel-img .pixel-img-txt div p {
  margin-top: 20px;
}

/* prineter */
.prineter {
  width: 90%;
  margin: 0 auto;
}
.prineter .prineter-smart {
  width: 100%;
  margin: 100px 0;
  justify-content: space-evenly;
  text-align: center;
}
.prineter .prineter-smart div p {
  margin-top: 20px;
}
.prineter .prineter-img {
  width: 75%;
  margin: 0 auto;
}
.prineter .prineter-img .prineter-util img {
  width: 400px;
  height: 350px;
  margin-right: 40px;
}
.prineter .prineter-img .prineter-util .prineter-txt {
  width: 400px;
  height: 350px;
  border: 2.5px solid #000;
  margin-right: 40px;
}
.prineter .prineter-img .prineter-util .prineter-txt div {
  margin: 100px 30px;
}
.prineter .prineter-img .prineter-util .prineter-txt div h1 {
  margin-bottom: 20px;
  font-size: var(--font-size-16);
  font-weight: bold;
}
.prineter .prineter-img .prineter-util .prineter-txt div p {
  width: 300px;
  font-size: var(--font-size-16);
  font-weight: 500;
}
.prineter .prineter-img .prineter-util .prineter-page {
  width: 400px;
  height: 350px;
  background-color: #f5f5f5;
}
.prineter .prineter-img .prineter-util .prineter-page div {
  margin: 80px 30px;
}
.prineter .prineter-img .prineter-util .prineter-page div h1 {
  width: 300px;
  margin-bottom: 15px;
  font-size: var(--font-size-16);
  font-weight: bold;
}
.prineter .prineter-img .prineter-util .prineter-page div p {
  font-size: var(--font-size-16);
  margin-bottom: 50px;
  width: 300px;
  font-weight: 500;
}
.prineter .prineter-img .prineter-util .prineter-page div a {
  font-size: var(--font-size-12);
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  font-weight: 700;
}
.prineter .prineter-img .prineter-util .prineter-page div a:hover {
  background-color: #ffb800;
}
/*** last ***/

.last {
  background-color: #000;
  color: #fff;
  height: 410px;
  justify-content: space-evenly;
  margin-top: 100px;
}
.last .last-page {
  width: 300px;
}
.last .last-page h1 {
  font-size: var(--font-size-title);
  font-weight: bold;
  color: #ffb800;
  margin: 50px 0 20px;
}
.last .last-page p {
  margin-bottom: 30px;
}
.last .last-page div a {
  margin-right: 20px;
}
.last .last-middle h1 {
  margin-top: 60px;
  font-size: var(--font-size-14);
}
.last .last-middle ul {
  margin-top: 30px;
}
.last .last-middle ul li {
  font-size: var(--font-size-12);
  margin-top: 10px;
  color: #7a7878;
}
.last .last-end h1 {
  margin-top: 60px;
  font-size: var(--font-size-14);
}
.last .last-end ul {
  margin-top: 30px;
}
.last .last-end ul li {
  font-size: var(--font-size-12);
  margin-top: 10px;
  color: #7a7878;
}
.last .last-end ul li a {
  color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.last .last-end ul li a:hover {
  color: #ffb800;
  border-bottom: 1px solid #ffb800;
}
.last .last-home {
  font-size: var(--font-size-14);
  margin-top: 60px;
}
.last .last-home a {
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 40px;
}
.last .last-home a:hover {
  background-color: #ffb800;
  transition: 0.3s;
  border: 1px solid #ffb800;
  color: #000;
}
/**** aside ****/
aside {
  color: #fff;
  background-color: #000;
  height: 10vh;
  width: 100%;
  max-width: 1920px;
  min-width: 1200px;
  justify-content: space-around;
}
